src/main/mule/globalweatherapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="globalWeatherAPI-httpListenerConfig" basePath="/api">
        <http:listener-connection host="localhost" port="8081" />
    </http:listener-config>
  
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="e0f8d353-37bb-4684-950e-c338fede1137" >
		<wsc:connection wsdlLocation="/Users/mac/Desktop/Work/TechnicalExcercise/weatherExcerciseDockerFile/wsdl/global-weather.wsdl" service="GlobalWeather" port="GlobalWeatherSoap" address="http://localhost:8080/GlobalWeather" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="get:\api\weather\(CountryName):globalWeatherAPI-config">
        <http:listener doc:name="Listener" doc:id="21b32f71-c641-4edb-a099-e1a95c85d99c" config-ref="globalWeatherAPI-httpListenerConfig" path="/weather"/>
		<set-variable value="#[message.inboundProperties.'http.query.params'.CountryName]" doc:name="Set Variable" doc:id="02325238-6778-40a4-a452-2e33b35cb6ff" variableName="CountryName"/>
        <ee:transform doc:name="Transform Message" doc:id="56f92e03-5c0f-421d-950c-58c7ff4637f4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetCitiesByCountry: {
		CountryName: vars.CountryName 
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="2cd57077-d055-4d10-b863-b811ab554aed" config-ref="Web_Service_Consumer_Config" operation="GetCitiesByCountry"/>
		<ee:transform doc:name="Transform Message" doc:id="bb95a8a9-3bcd-43e7-9977-625d328890aa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://www.webserviceX.NET
---
{ "output" : write(payload, "application/json") }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\api\weather\(CountryName):globalWeatherAPI-config" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3731b4d6-44a9-4c1d-8114-1515713c3218" type="HTTP:NOT_FOUND">
				<logger level="ERROR" doc:name="Logger" doc:id="29a7b06b-a391-43a9-8fce-852aad35db3b" category="Failed"/>
			</on-error-continue>
		</error-handler>
    </flow>
</mule>
